.section__slider {
   padding: 90px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url("../images/decor/clover1.png") right top no-repeat,
      url("../images/decor/clover2.png") left center no-repeat,
      url("../images/decor/leavs.png") right bottom no-repeat #f0f0f0;
   background-size: 30%, 30%, 30%;
}
.slider {
   position: relative;
}

.slider__img-1 {
   width: 780px;
   height: 550px;
   img {
      max-width: 100%;
   }
}
.slider__img-2 {
   height: 784px;
   width: 555px;
   img {
      max-width: 100%;
   }
}

/* Кнопки вперед и назад */
.slider .prev,
.slider .next {
   cursor: pointer;
   position: absolute;
   top: 55%;
   transform: translateY(-50%);
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: #333;
   font-weight: bold;
   font-size: 36px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
}

.slider .next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
   color: #8c7ace;
   background-color: rgba(0, 0, 0, 0.8);
}

/* Кружочки */

.slider-dots {
   text-align: center;
   display: flex;
   text-align: center;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
}
.slider-dots_item {
   cursor: pointer;
   height: 12px;
   width: 12px;
   margin: 5px 2px;
   background-color: #e3defe;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
   background-color: #8c7ace;
}
.slider-dots-work {
   background-color: #f0f0f0;
   &.active,
   &:hover {
      background-color: #edc96c;
   }
}

/* Анимация слайдов */

.slider .item {
   display: block;
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}

@-webkit-keyframes fade {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}
