@import "vars";
@import "global";
@import "keyframes";

.header {
   max-width: 100%;
   background-color: $purple;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   transition: all 0.4s linear;
}
.menu {
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list {
   font-size: 16px;
   font-family: "Raleway", sans-serif;
   font-weight: 500;
   text-transform: uppercase;
}
.menu__list-item {
   color: $lavender;
   padding: -5px -10px;
   margin: 5px 10px;
}
.menu__list-btn {
   display: none;
}
.btn {
   cursor: pointer;
   background-color: $gold;
   width: 170px;
   height: 55px;
   border-radius: 30px;
   color: $purple;
   font-size: 24px;
   line-height: 2.2;
   font-weight: 700;
   text-align: center;
   box-shadow: 0px 3px 3px 0px rgba(63, 44, 68, 0.5);
   transition: all 0.2s linear;
   border: 1px solid $purple;
   transition: all 0.4s linear;
   &:hover {
      background-color: $purple;
      color: $gold;
      box-shadow: 0px 5px 3px 0px rgba(63, 44, 68, 0.5);
   }
}
.opacity {
   opacity: 0.7;
}

.video__bg {
   width: 100%;
   position: relative;
   min-height: 60vh;
   video {
      width: 100%;
      height: 430px;
      top: 0;
      right: 0;
      position: absolute;
      object-fit: cover;
   }
}
.home__text {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   position: relative;
   position: absolute;
   margin-top: 50px;
}
.home__left {
   width: 500px;
   color: $gold;
   font-family: "Roboto";
   font-size: 48px;
   font-weight: 800;
   line-height: 1;
   span {
      display: inline-block;
      position: relative;
      overflow: hidden;
      top: 0.1rem;
      animation: 0.3s swift-up ease-in-out forwards;
   }
   span:nth-of-type(1) i {
      animation-delay: 0.4s;
   }

   span:nth-of-type(2) i {
      animation-delay: 0.8s;
   }

   span:nth-of-type(3) i {
      animation-delay: 1.2s;
   }
   i {
      font-style: normal;
      position: relative;
      top: 4rem;
      animation: 0.5s swift-up ease-in-out forwards;
   }
}

.home__right {
   padding-left: 100px;
   max-width: 700px;
   color: $lavender;
}
.home__left-1 {
   position: relative;
   left: 0;
}
.home__left-2 {
   position: relative;
   left: 20%;
}
.home__left-3 {
   position: relative;
   left: 70%;
}
.home__right-1 {
   font-size: 44px;
}

.about {
   background: url("../images/decor/line.png") no-repeat top right;
   background-size: 40%;
   img {
      display: inline-block;
      max-width: 600px;
   }
}
.about__inner {
   display: flex;
   flex-wrap: wrap;
}
.about__img {
   width: 50%;
   height: 500px;
   position: relative;
   img {
      position: absolute;
      top: 90%;
      right: 0;
      transform: translate(-25%, -50%);
   }
}
.about__text {
   width: 50%;
   padding: 80px 0 45px 20px;
   font-family: "Raleway", sans-serif;
   font-size: 20px;
   font-weight: 700;
   line-height: 2;
}
ul.about__text-point {
   border: 1px solid $green;
   border-radius: 5%;
   margin-top: 50px;
   padding: 30px 30px;
   li {
      list-style: disc;
   }
}

.service {
   background: url("../images/decor/bubble.png") left no-repeat, rgb(227, 222, 254);
   background: linear-gradient(
      180deg,
      rgba(227, 222, 254, 1) 4%,
      rgba(240, 240, 240, 1) 15%,
      rgba(240, 240, 240, 1) 85%,
      rgba(227, 222, 254, 1) 96%
   );
   background-size: cover;
}
.service__title {
   margin-bottom: 90px;
   padding-top: 90px;
}
.service__inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 90px;
}
.service__item {
   text-align: center;
   width: 360px;
   background-color: $white;
   box-shadow: 0px 0px 20px 0px rgba(163, 111, 176, 1);
   border-radius: 25px;
   padding: 30px 40px;
   margin: 0 20px 90px;
   transform: scale(1);
   transition: all 0.2s ease;
   &:hover {
      transform: scale(0.9);
   }
}
.service__item-title {
   color: $title;
   font-weight: 500;
   font-size: 28px;
   margin-bottom: 30px;
}
.service__item-text {
   color: $text;
   font-size: 20px;
   font-weight: 400;
}

.service__coach {
   background: url(../images/decor/lavrright.png) right 0% no-repeat, url(../images/decor/circle.png) 25% 5% no-repeat,
      $lavender;
   background-size: 20%, 15%;
   .service__item {
      color: $text;
      background-color: #d0c4f2;
      box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
      padding: 30px 25px 60px;
      z-index: 0;
      transform: scale(1);
      transition: all 0.2s ease;
      &:hover {
         transform: scale(1.1);
      }
   }
   .service__item-title {
      color: $text;
      font-size: 24px;
      font-family: "Raleway";
      font-weight: 800;
      margin-bottom: 60px;
   }
}

.cooperation {
   background: url("../images/decor/pearls.jpg") no-repeat;
   background-size: cover;
   padding: 50px;
   text-align: center;
   background-attachment: fixed;
}
.cooperation__title {
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 680px;
   margin: 20px auto;
   color: $purple;
}
.cooperation__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 360px;
   height: 80px;
   background-color: $gold;
   border-radius: 60px;
   margin: 0 auto;
   margin-bottom: 30px;
   color: $purple;
   cursor: pointer;
   font-size: 24px;
   line-height: 2.2;
   font-weight: 700;
   box-shadow: 0px 3px 3px 0px rgba(63, 44, 68, 0.5);
   transition: all 0.2s linear;
   border: 1px solid $purple;
   &:hover {
      box-shadow: 0px 5px 3px 0px rgba(63, 44, 68, 0.5);
      background-color: $purple;
      color: $gold;
   }
}

.section__video1 {
   background: rgb(255, 255, 255);
   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
}
.video1__inner {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 70px 0px;
}

.bread {
   font-size: 18px;
   color: $gold;
}
.breadhome {
   color: $lavender;
   margin: 50px 0;
   &:hover {
      color: $gold;
      text-decoration: underline;
   }
}

.section__slick {
   padding: 90px 0;
}
.slick__img {
   width: 200px;
   height: 200px;
   border: 1px solid white;
   img {
      max-width: 200px;
      width: 100%;
      height: 200px;
      object-fit: cover;
   }
}

.collage__inner {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.collage__item {
   width: 25%;
   height: 300px;
   overflow: hidden;
   position: relative;
   border-bottom: 1px solid white;
   border-right: 1px solid white;
}
.collage__tone {
   z-index: 2;
   opacity: 1;
   transition: opacity 0.2s linear;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   &:hover,
   &:focus {
      opacity: 0;
   }
}
.collage__img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0);
   z-index: 1;
   min-width: 100%;
   width: 300px;
   height: 300px;
   object-fit: cover;
}

.section__reviews-1,
.section__reviews-3 {
   background: #fff;
   position: relative;
   height: 90vh;
   img {
      max-width: 800px;
      width: 100%;
      height: inherit;
      object-fit: contain;
   }
}
.reviews__inner-1 {
   right: 0px;
   top: 0px;
   position: absolute;
   max-width: 700px;
   margin-left: auto;
   font-family: "Raleway", sans-serif;
   padding: 0px 50px 50px 20px;
}
.section__reviews-2 {
   background: #f7f7f7;
   position: relative;
   height: 90vh;
   img {
      max-width: 600px;
      width: 100%;
      height: inherit;
      object-fit: contain;
   }
}
.reviews__inner-2 {
   max-width: 700px;
   margin-right: auto;
   font-family: "Raleway", sans-serif;
   padding: 0 20px 40px 10px;
   .reviews__inner-video {
      padding: 50px 0 0 50px;
      width: 40%;
   }
}

.video3 {
   background: rgb(227, 222, 254);
   background: linear-gradient(180deg, rgba(227, 222, 254, 1) 0%, rgba(140, 122, 206, 1) 100%);
   border-bottom: 3px solid $lavender;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 0 90px;
}

.footer {
   background-color: $purple;
}
.footer__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 25px;
}
.footer__copy {
   color: $lavender;
   font-size: 22px;
}
.footer__social {
   display: flex;
   align-items: center;
   justify-content: space-between;
   a:hover {
      animation-name: bounce;
      transform-origin: center center;
      animation-duration: 0.8s;
      animation-fill-mode: both;
   }
}
.footer__social-whatsapp {
   margin: 0 15px;
}

@import "media";
